# Python
# Generic ignore file for Python projects

# Byte-compiled / optimized / compressed files
__pycache__/
*.py[cod]
*.pyd
*.pyc
*.bin

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
wheels/
*.egg-info/
*.eggs
*.whl

# mkdocs
/site

# Unit test / coverage reports
.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
htmlcov/

# Transferred to the Homebrew template
# from https://github.com
*.py[oa]

# Installer logs
pip-log.txt
pip-delete-this-line.txt

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
# VS Code
.vscode/
# PyCharm
.idea/

# Jupyter Notebook files
.ipynb_checkpoints

# Miscellaneous
*.log
*.sack
*.waf
.bcache
.mypy_cache/
.dmypy.json
dmypy.json
.ruff_cache/
.lxml-cache/
.venv-workon/

# Sphinx documentation
docs/_build/
